.pageGrid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 3rem);
}

/* @media (min-width: 768px) {
  .pageGrid {

    margin: 0 auto 1.5rem auto;
  }
} */

.topImageWrapper {
  margin: var(--topObj-margin-mobile);
}

.imageWrapper {
  margin: var(--obj-margin-mobile);
}

.credit {
  color: var(--text-normal);
  font-size: var(--font-smallest);
  text-align: end;
  padding: 0 !important;
}
