.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 800px;
  margin-bottom: 3rem;

  color: var(--text-normal);
  /* border: 1px solid var(--rhone-orange); */
}

.social {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.social svg {
  color: var(--rhone-orange);
  font-size: 2rem;
}

.privacy a {
  color: var(--rhone-orange);
  font-size: 1rem;
}

.KWlogo {
  text-align: center;
  margin-top: 1rem;
}

.disclosures {
  line-height: 0.8;
}

.disclosures span {
  font-size: 0.25rem;
}

.KWlogo img {
  width: 25%;
}
